# Domains routed by nginx-proxy
redmine_domain: "redmine.local"
gitlab_domain: "gitlab.local"

# Upstreams on the private LAN
redmine_upstream_host: "192.168.56.11"
redmine_upstream_port: 3000

gitlab_upstream_host: "192.168.56.13"
gitlab_upstream_port: 8080   # GitLab internal web port configured by Omnibus (workhorse)

# Postgres for Redmine
postgres_host: "192.168.56.12"
postgres_port: 5432
redmine_db_name: "redmine"
redmine_db_user: "redmine"
redmine_db_password: "redmine_password_change_me"

# Redmine install
redmine_version: "5.1.3"
redmine_root: "/opt/redmine"
redmine_user: "redmine"
redmine_group: "redmine"

# GitLab
gitlab_external_url: "http://{{ gitlab_domain }}" # nginx handles TLS; GitLab sees http
gitlab_ssh_port: 2222
trusted_proxy_cidr: "192.168.56.0/24"

tls_mode: mkcert

# Generate one SAN cert that covers both hostnames
mkcert_domains:
  - "{{ redmine_domain }}"
  - "{{ gitlab_domain }}"

# Where to store generated certs on your host (control machine)
mkcert_local_dir: "{{ playbook_dir }}/.mkcert"

# TLS on nginx-proxy
nginx_tls_cert_path: "/etc/nginx/ssl/lab.crt"
nginx_tls_key_path: "/etc/nginx/ssl/lab.key"


# Optional HSTS for local labs (off by default). Enable via: hsts_enabled: true
hsts_enabled: true