server {
  listen 80;
  server_name {{ redmine_domain }};
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  server_name {{ redmine_domain }};

  ssl_certificate     {{ nginx_tls_cert_path }};
  ssl_certificate_key {{ nginx_tls_key_path }};
  include /etc/nginx/snippets/ssl_common.conf;

  location / {
    proxy_pass http://{{ redmine_upstream_host }}:{{ redmine_upstream_port }};
    include /etc/nginx/snippets/proxy_common.conf;
  }
}
